body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.topo-main{
    margin-top: 100px;
    width: 100%;

}

.topo {
   background-color: #fff;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
}


.topo-logo, .topo-links{
    margin-top: 40px;
}

.topo-logo a{
    color: black;
    font-size: 25px;
    text-decoration: none;
}

.topo-logo .texto-destaque {
    color: blue;
}

.topo-links{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.topo-links a{
    color: black;
    font-size: 25px;
    text-decoration: none;
}


.conteudo-principal2 {
    background-image: url('assets/img-fundo.jpg');
    background-size: cover;
    width: 100%;
    height: 200px;
}

.conteudo-principal-info{
    display: flex;
    flex-direction: column;
}

.conteudo-principal-info h3{
    text-align: center;
}

.conteudo-principal-info ul{
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-bottom: 30px;
}



.rodape {
    height: 170px;
    background-color: #11a06b;
}

.rodape .rodape-dados{
    margin: 20px auto;
    max-width: 1024px;
    border-bottom: 1px solid #00000034;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape-dados .rodape-card {
    margin: 15px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rodape-dados .rodape-card img{
    margin-right: 10px;
    margin-left: 20px;
}

.rodape-dados .rodape-card h2, .rodape-paragrafo{
    color: #fff;
}

.rodape-dados .rodape-card a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

 .rodape-paragrafo p{
    font-weight: bold;
   text-align: center; 
   margin: 20px auto;
}
